In [1]:
import pandas as pd

## Archivo con formato JSON

In [2]:
subject_json = '{"Asignatura":"Historia", "Aulas":["A3","B2"]}'
subject_json

'{"Asignatura":"Historia", "Aulas":["A3","B2"]}'

In [3]:
pd.read_json(path_or_buf="C:/Users/fgarc/proyectos Python/Curso Machine Learning Udemy/Data/201906_Usage_Bicimad.zip",
            encoding="iso-8859-2",
             lines=True)

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,track
0,{'$oid': '5cf83b752f3843a016be4e2f'},e4d55deb9ac172a8d8f5f0a32599815bd51b7c8760d67e...,21,1,8,219,90,0,66,{'$date': '2019-06-01T00:00:00.000+0200'},,NaN
1,{'$oid': '5cf83b762f3843a016be4e48'},8a0c4123e924a50a958f51985eb71aea750fb072438035...,19,1,19,359,71,4,136,{'$date': '2019-06-01T00:00:00.000+0200'},28039,NaN
2,{'$oid': '5cf83b762f3843a016be4e4f'},a6a9c1f74a68496000542210abc4fc2eba79e2756ad535...,17,1,7,375,39,4,38,{'$date': '2019-06-01T00:00:00.000+0200'},28013,NaN
3,{'$oid': '5cf83b762f3843a016be4e53'},5706c0bd494acc02279d532821c9666b0e506d4f81c838...,4,1,21,264,66,5,90,{'$date': '2019-06-01T00:00:00.000+0200'},28009,NaN
4,{'$oid': '5cf83b762f3843a016be4e54'},eb1b6d32bd4add5d5ff91af72a38786d61075c090383a5...,3,1,13,367,152,4,166,{'$date': '2019-06-01T00:00:00.000+0200'},28006,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
450806,{'$oid': '5d19317fa9cd6441ac49177b'},2ea80cbe37fc790baa40bf26547aee6bef31b77fa3afcc...,9,3,12,3293,83,4,90,{'$date': '2019-06-26T23:00:00.000+0200'},,NaN
450807,{'$oid': '5d19317fa9cd6441ac49177c'},97032d3747cb14430b7899cfdfdf17f4f8bb92da7ccb60...,12,1,23,317,51,5,135,{'$date': '2019-06-26T23:00:00.000+0200'},28045,NaN
450808,{'$oid': '5d193180a9cd6441ac49177f'},4b8a5eabbe71df3addcff5ccdec5b7a6b49252f23edb7c...,3,1,14,1558,172,0,174,{'$date': '2019-06-26T23:00:00.000+0200'},,NaN
450809,{'$oid': '5d193180a9cd6441ac491780'},a155966b8f5dfaeaac34612d902eab89b8dc590df6b9e9...,6,1,6,2199,35,0,2,{'$date': '2019-06-26T23:00:00.000+0200'},,NaN
450810,{'$oid': '5d193180a9cd6441ac491781'},a2859c578a940a5b6f9697d37bbb60887b59668b74f4ab...,3,1,19,301,30,5,130,{'$date': '2019-06-26T23:00:00.000+0200'},28010,NaN